.component {
  background-color: #001a6c;
  height: 401px;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Change from flex-start to center */
  justify-content: space-between; /* Thêm dòng này */
  margin-top: 140px;
  padding: 20px;
}

.component .overlap {
  background-color: #09084d;
  height: 50px;
  left: 0;
  position: absolute;
  width: 100%;
  top: calc(351 / 401 * 100%); /* khoảng cách từ lề trên */
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
}

.text-wrapper-c {
  position: absolute;
  left: calc(240 / 1920 * 100%); /* khoảng cách từ lề trái */
  top: calc(120 / 401 * 100%); /* khoảng cách từ lề trên */
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.component .logo-ami {
  position: absolute;
  left: calc(220 / 1920 * 100%); /* khoảng cách từ lề trái */
  bottom: calc(277 / 401 * 100%); /* khoảng cách từ lề dưới */
  top: calc(72 / 401 * 100%); /* khoảng cách từ lề trên */
  width: 226px;
  height: 52px;
  object-fit: cover;
}

.component .label .text-wrapper {
  position: absolute;
  left: calc(270 / 1920 * 100%); /* khoảng cách từ lề trái */
  bottom: calc(227 / 401 * 100%); /* khoảng cách từ lề dưới */
  top: calc(150 / 401 * 100%); /* khoảng cách từ lề trên */
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.label .location-icon {
  position: absolute;
  color: #00C2FF;
  font-size: 18px;
  font-style: normal;
  line-height: 28px; /* 155.556% */
  left: calc(260 / 1920 * 100%); /* khoảng cách từ lề trái */
  bottom: calc(226 / 401 * 100%); /* khoảng cách từ lề dưới */
  top: calc(150 / 401 * 100%);
  text-align: left;
  font-family: "FontAwesome5Free-Solid", sans-serif;
  font-weight: 400;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}

.component .p {
  color: #ffffff;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: calc(270 / 1920 * 100%);
  top: calc(179 / 401 * 100%);
  margin-right: 50px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  width: calc(100% - 1700px); /* Dat gia tri width phu hop */
  height: 100px;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  overflow-wrap: break-word;
  text-align: justify;
  text-decoration: none;
}

/* Khi màn hình phóng to (trên 768px), cho phép nội dung tự động xuống dòng */
@media (min-width: 1920px) {
  .component .p {
    white-space: nowrap;
  }
}

.gi-i-thi-u-gi-i-ph-p {
  color: #ffffff;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 16px;
  position: absolute;
  right: calc(815 / 1920 * 100%); /* Adjust this value to move the section to the right */
  top: calc(60 / 401 * 100%); /* khoảng cách từ lề trên */
  left: calc(1089 / 1920 * 100%);
  width: calc(100% - 1200px);
  height: 50px;
  text-align: left;
  line-height: 42px;
}

.tuy-n-d-ng-h-nh-nh {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: calc(446 / 1920 * 100%); /* Adjust this value to move the section to the right */
  width: calc(100% - 1200px);
  height: 50px;
  top: calc(60 / 401 * 100%); /* khoảng cách từ lề trên */
  left: calc(1458 / 1920 * 100%); /* khoảng cách từ lề trái */
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  line-height: 42px;
}

.icon {
  margin-left: 10px;
}

.component .contact-info .phone-text {
  position: absolute;
  top: calc(79 / 401 * 100%); /* khoảng cách từ lề trên */
  bottom: calc(229 / 401 * 100%); /* khoảng cách từ lề dưới */
  left: calc(767 / 1920 * 100%); /* khoảng cách từ lề trái */
  color: #ffffff;
  text-align: left;
  font-family: "RobotoCondensed-Bold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  width: calc(100% - 1200px);
  height: 50px;
}

.component .contact-info .phone .phone-icon {
  position: absolute;
  left: calc(732 / 1920 * 100%); /* khoảng cách từ lề trái */
  top: calc(82 / 401 * 100%); /* khoảng cách từ lề trên */
  bottom: calc(298 / 401 * 100%);
  right: calc(1088 / 1920 * 100%); /* khoảng cách từ lề phải */
  color: #00C2FF;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 28px; /* 155.556% */
}

.component .contact-info .phone .phone-number {
  position: absolute;
  left: calc(767 / 1920 * 100%); /* khoảng cách từ lề trái */
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  line-height: 41px;
  font-weight: 400;
  top: calc(100 / 401 * 100%);
  width: calc(100% - 1200px);
  height: 50px;
}

.component .contact-info .hotline-text {
  position: absolute;
  top: calc(148 / 401 * 100%); /* khoảng cách từ lề trên */
  bottom: calc(229 / 401 * 100%); /* khoảng cách từ lề dưới */
  left: calc(767 / 1920 * 100%); /* khoảng cách từ lề trái */
  right: calc(1106 / 1920 * 100%); /* khoảng cách từ lề phải */
  color: #ffffff;
  text-align: left;
  font-family: "RobotoCondensed-Bold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

.component .contact-info .hotline .hotline-icon {
  position: absolute;
  left: calc(732 / 1920 * 100%); /* khoảng cách từ lề trái */
  top: calc(151 / 401 * 100%); /* khoảng cách từ lề trên */
  bottom: calc(229 / 401 * 100%);
  right: calc(1106 / 1920 * 100%); /* khoảng cách từ lề phải */

}

.component .contact-info .hotline .hotline-number {
  position: absolute;
  left: calc(767 / 1920 * 100%); /* khoảng cách từ lề trái */
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  line-height: 41px;
  font-weight: 400;
  top: calc(169 / 401 * 100%); /* khoảng cách từ lề trên */

}

.component .contact-info .email-text {
  position: absolute;
  top: calc(214 / 401 * 100%); /* khoảng cách từ lề trên */
  bottom: calc(160 / 401 * 100%); /* khoảng cách từ lề dưới */
  left: calc(767 / 1920 * 100%); /* khoảng cách từ lề trái */
  right: calc(1117 / 1920 * 100%); /* khoảng cách từ lề phải */
  color: #ffffff;
  text-align: left;
  font-family: "RobotoCondensed-Bold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

.component .contact-info .email .email-icon {
  position: absolute;
  left: calc(732 / 1920 * 100%); /* khoảng cách từ lề trái */
  top: calc(218 / 401 * 100%); /* khoảng cách từ lề trên */
  bottom: calc(160 / 401 * 100%); /* khoảng cách từ lề dưới */
  right: calc(1117 / 1920 * 100%); /* khoảng cách từ lề phải */
  color: #00C2FF;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 28px; /* 155.556% */
}

.component .contact-info .email .email-address {
  position: absolute;
  left: calc(767 / 1920 * 100%); /* khoảng cách từ lề trái */
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  line-height: 41px;
  font-weight: 400;
  top: calc(236 / 401 * 100%); /* khoảng cách từ lề trên */
}


